GEMINI_API_KEY=gemini_api_key
PG_CONNECTION_STRING=postgresql://postgres:postgres@localhost:54322/postgres
PG_CONNECTION_STRING_LIVE=postgresql://postgres.[live_db_user]:[live_db_password]@[live_db_host]:6543/postgres
SUPABASE_ACCESS_TOKEN=supabase_access_token

