:host {
  width: 100%;

  button {
    background-color: var(--color-background-light);
    color: var(--color-text-on-light);
    border: none;
    border-radius: var(--border-radius-rounded);
    height: 50px;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 10px #222);
    width: 100%;

    &:active {
      filter: none;
      transform: scale(0.98);
    }

    &:disabled {
      opacity: 0.5;
      transform: none;
      filter: var(--elevation);
    }

    &.destructive {
      color: var(--color-text);
      background-color: var(--color-background-destructive);
    }
  }
}
