:host {
  --vertical-padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--vertical-padding) 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--content-width);
    max-width: var(--content-max-width);
    min-height: calc(100dvh - var(--vertical-padding) * 2);

    .statusbar {
      display: flex;
      justify-content: end;
      width: 100%;

      .username {
        color: var(--color-text);
        font-size: 1.5rem;
        font-weight: 600;
        border: 2px dotted var(--color-text-transparent);
        border-radius: 50px;
        padding: 5px 20px;
      }
    }

    img {
      display: block;
      max-height: 30dvh;
      max-width: var(--content-width);
      margin: auto;
      filter: drop-shadow(5px 5px 10px #222);
    }

    .content-aligner {
      display: flex;
      flex-grow: 1;
      width: 100%;
    }
  }
}

.notification {
  position: fixed;
  top: 10dvh;
  width: var(--content-width);
  max-width: var(--content-max-width);
}
