* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-text: #F8F8F8;
  --color-text-on-light: #41552f;
  --color-text-transparent: #F8F8F880;
  --color-background: #222;
  --color-background-destructive: #3d2121;
  --color-background-light: var(--color-text);
  --content-width: 90%;
  --content-max-width: 800px;
  --content-gap: 24px;
}

body {
  background: linear-gradient(90deg, #569d69 0%, #132313 100%)
}

@media (max-height: 768px) {
  :root {
    font-size: clamp(0.875rem, 1vw, 1rem);
  }
}